.barra {
    width: 100%;
    height: 75px;
    background-color: #969696;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.ventana {
    background-color: aqua;
    width: 300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
}

.modal {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: -250px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#create:target {
    opacity: 1;
    padding-inline-start: auto;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

.inicio {
    width: 80px;
    height: 80px;
}

.new {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenido {
    display: flex;
}

.user {
    width: 20%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal {
    width: 60%;
    height: auto;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;

}

.space {
    width: 20%;
    height: auto;
    background-color: white;
}

.imgperfil {
    width: 150px;
    height: 150px;
    margin-top: 130px;
    border-radius: 150px;
}

.nameprofile {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 20px;
}

.boton {
    width: 70%;
    height: 50px;
    background-color: #DFDFDF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 50px;
    border-radius: 5px;
}

.boton > a {
    text-decoration: none;
    color: black;
}

.botoncerrar {
    width: 70%;
    height: 50px;
    background-color: #DFDFDF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    top: 300px;
    border-radius: 5px;
}

.botoncerrar > a {
    text-decoration: none;
    color: black;
}

.twet {
    width: 550px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 50px 90px;
}

.usertwet {
    width: 150px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerimage {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.containerimage > .imagetwet {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 550px;
    min-height: 100%;
    min-width: 100%;

}

.logpage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorlog {
    width: 400px;
    height: 600px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
   
}

.contenedorlog > p {
    font-size: 25px;
}

.logolog {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.inputlog {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 25px;
}

.botonlog {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    left: 50%;
    background-color: white;
    color: #969696;
    font-size: 15px;
    margin-bottom: 25px;
}

scroll-container {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }